@import 'color';


.contect{
    width: 100%;
    height: 100vh;
    background-color: $sacond;
    display: flex;
    align-items: center;
    justify-content: center;
    >main{
        background-color: $first;
        height: 40rem;
        width: 70%;
        padding: 3rem;
        border-radius:  100px 180px 100px 180px;
        >form{
            margin: 5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            >div{
                height: 3rem;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width: 60%;
                margin: 0.5rem;
                >label{
                    font: 500 1.2rem $text2;
                    width: 20%;
                    margin: 0 1.5rem;
                }
                >input{
                    align-self: stretch;
                    width: 80%;
                    padding: 1rem;
                    border-radius: 5px;
                    border: 2px solid rgba(123,123,123,0.6);
                    outline: none;
                    font: 100 1.2rem $text2;
                }
            }
            >button{
                width: 20%;
                margin: 0 1.5rem;
                margin-top: 30px;
                padding: 1rem;
                border-radius: 5px;
                border: 2px solid rgba(123,123,123,0.6);
                outline: none;
                background-color: $third;
                font: 100 1.2rem $text1;
                cursor: pointer;
                transition: 0.3s ease;
                transition: 0.3s;
                &:hover{
                    opacity: 0.9;
                    // font-family: $text2;
                    // color: green;
                    // color: aquamarine;
                    // background-color: rgb(16, 27, 85);
                    // font-weight: 600;
                }
            }
        }
    }
}