@import 'color';




footer{
    background: $first;
    height: 200px;
    width: 100%;
    padding: 2rem;
    color: $dark;
    display: grid;
    grid-template-columns: 4fr 1fr;
    >div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        >h1{
            font: 700 2rem $text1;
            text-transform: uppercase;
            color: $third;

        }
        >p{
            font: 400 1.2rem $text2;
        }
        >h5{
            font: 300 2rem italic/cursive;
            margin: 1rem 0;
            text-align: center;
            text-transform: uppercase;
            color: $third;
        }
        >div{
            display: flex;
            flex-direction: column;
            align-items: center;
            >a{
                color: $dark;
                font: 900 1rem $text2;
                margin: 0.6rem;
                padding: 0.4rem;
                border-radius: 10px;
                &:hover{
                    color: $third;
                    border-bottom: 2px solid $third;
                    border-top: 2px solid $third;
                }
            }
        }
    }
    .copyright{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        >p{
            font: 400 1.2rem $text2;
            text-align: center;
            color: $third;
            margin-left: 9rem;
            border-radius: 10px;
            padding: 1rem;
            transition: 1s;
            &:hover{
                border-bottom: 2px solid $third;
                // border-top: 2px solid $third;
                transition: 1s;
            }
            
        }
    }
}