@import "color";

nav{
    padding: 1rem;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: $first;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    >h1{
        text-transform: uppercase;
        font-family: cursive;
    }
    >main{
        width: 70%;
        display: flex;
        justify-content: flex-end;
        >a{
            margin: 1rem;
            color: $dark;
        &:hover{
            color: $third;
        }
        }

    }
}