@import "color";

nav{
    padding: 1rem;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: $first;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    >h1{
        // text-transform: uppercase;
        font-family: cursive;
        cursor: pointer;
    }
    >main{
        width: 70%;
        display: flex;
        justify-content: flex-end;
        >a{
            margin: 1rem;
            color: $dark;
            padding: 0.3rem;
            border-radius: 10px;
            &:hover{
            color: $third;
            transform: scale(1.2);
            border-bottom: 2px solid $third;
            border-top: 2px solid $third;
            // width: 10%;
        }
        }

    }
}